<!DOCTYPE html>
<html lang="sr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Brzi Fast food{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <div class="container sredina">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Brzi Fast food">
        <h1>Brzi Fast food</h1>
        <h3>Najbrža dostava u gradu</h3>
    </div>
</header>

<main>
    <div class="container sredina">
        {% block content %}
        {% endblock %}
    </div>
</main>

<footer>
    <div class="container sredina">
        <h4>Brzi doo, Leskovac</h4>
        <p>Proleterska 34</p>
        <h4>065 256 256</h4>
        <p>&copy; 2026 Sva prava zadržana</p>
    </div>
</footer>

</body>
</html>